doctype html
html
    head
        title site title
        link(rel='stylesheet', href='/css/site.css' + versionCache)
    body
        block content
        script(src='/js/commons.js' + versionCache)
        block resources